<div class="relative overflow-x-auto bg-gray-50 p-4 rounded-lg shadow-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr class="text-center">
        <th scope="col" class="px-6 py-3">Producto</th>
        <th scope="col" class="px-6 py-3">Descripción</th>
        <th scope="col" class="px-6 py-3">Precio</th>
        <th scope="col" class="px-6 py-3">Acciones</th> <!-- Columna para los botones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seccion of secciones" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <!-- Nombre del Producto -->
        <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
          {{ seccion.nombre }}
        </td>
        
        <!-- Descripción -->
        <td class="px-6 py-4 text-center text-gray-600 dark:text-gray-300">
          {{ seccion.descripcion }}
        </td>
        
        <!-- Precio -->
        <td class="px-6 py-4 text-right text-indigo-600 dark:text-indigo-400">
          {{ seccion.precio | currency }}
          
        </td>

        <!-- Botón de "Ver Detalles" -->
        <td class="px-6 py-4 text-center">
          <button 
            (click)="openProductModal(seccion)"
            class="text-white bg-indigo-600 hover:bg-indigo-700 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
            Ver Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>